<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %>
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			  <%= @pin.user.name %>
			</p>
			<% if current_user == @pin.user %>
			  <%= link_to 'Edit', edit_pin_path(@pin) %> |
		  <% end %>	

			<%= link_to 'Back', pins_path %>
			
		</div>
	</div>
</div>