<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

	<%= f.input :email %>

	<%= f.input :password %>
  
  <%= f.input :remember_me, as: :boolean %>

    <div class="form-actions">
  		<%= f.submit "Sign in", class: "btn btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
